<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard S3{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <header class="navbar">
        <h1>Dashboard Flask + S3</h1>
        <span>Proyecto dockerizado</span>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>